{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="card" style="width: 10rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Electronics</h5>
            <p class="card-text">Best Electronics at best prices</p>
            <a href="/moreinfo/?category=ELECTRONICS" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <br>
        <div class="card" style="width: 10rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Fashion</h5>
            <p class="card-text">Best fashion at best prices</p>
            <a href="/moreinfo/?category=FASHION" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <br>

        <div class="card" style="width: 10rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Book</h5>
            <p class="card-text">Best books at best prices</p>
            <a href="/moreinfo/?category=BOOKS" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <br>

        <div class="card" style="width: 10rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Beauty</h5>
            <p class="card-text">Best beauty at best prices</p>
            <a href="/moreinfo/?category=BEAUTY" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <br>

        <div class="card" style="width: 10rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Kitchen</h5>
            <p class="card-text">Best kitchen appliances at best prices</p>
            <a href="/moreinfo/?category=KITCHEN" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}