<!DOCTYPE html>
<html>
    <head>
        <title>
            index
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1> Welcome to Form page </h1>
                <form method="POST">
                    <div class="form-group">
                        {%csrf_token%}
                        {{form.as_p}}
                        <input type="submit" class="btn btn-primary" value='submit'>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>